@media only screen and (max-width: 600px) {
  body {
    font-size: 2em;
    width: 100%;
  }
  #profilePic img {
    width: 400px;
    height: 400px;
  }
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #e4f9ff;
  color: #0fabbc;
  padding: 30px;
  line-height: 1.5;
}


/* #mainContainer {
  margin: 30px;
} */

#profilePic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dotted #12cad6;
}

a {
  color: #0fabbc;
}
a:visited {
  color: #0c7b93;
}

h2 {
  color: #fa163f;
  font-weight: 400;
  font-size: 18px;
  /* text-shadow: magenta 0 2px 3px; */
}

h3 {
  /* background-color: lightblue;
  border-top: 2px dotted #12cad6; */
  color: #fa163f;
  /* text-shadow: magenta 0 2px 3px;
  padding: 5px 0; */
  font-weight: 400;
  margin: 10px 0;
  padding: 10px 0 0 0;
}

th {
  text-align: left;
  color: #0c7b93;
  font-weight: 500;
}

td {
  padding-right: 20px;
  vertical-align: middle;
}

hr {
  border-style: none;
  border-bottom:1px dotted #12cad6;
  padding: 15px 0 0 0;
}
