
body {
  font-family: Helvetica, sans-serif;
  background-color: #e4f9ff;
  color: #0fabbc;
  padding: 30px;
  line-height: 1.5;
}

/* #mainContainer {
  margin: 30px;
} */

#profilePic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px dashed #12cad6;
}

a {
  color: #0fabbc;
}
a:visited {
  color: #0c7b93;
}

h2 {
  color: #fa163f;
  font-weight: 400;
  font-size: 18px;
  /* text-shadow: magenta 0 2px 3px; */
}

h3 {
  /*background-color: lightblue;*/
  border-bottom: 2px dotted #12cad6;
  color: #fa163f;
  /* text-shadow: magenta 0 2px 3px;
  padding: 5px 0; */
  font-weight: 400;
  margin: 10px 0;
}

th {
  text-align: left;
  color: #0c7b93;
  font-weight: 500;
}

td {
  padding-right: 20px;
  vertical-align: middle;
}

hr {
  border:1px solid magenta;
  display: none;
}
