
body {
  font-family: Helvetica, sans-serif;
  background-color: #000;
  color: gray;
}

#mainContainer {
  margin: 30px;
}

#profilePic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px dotted magenta;
}

a {
  color: magenta;
}
a:visited {
  color: purple;
}

h1 {
  color: cyan;
  text-shadow: magenta 0 2px 3px;
}

h3 {
  /*background-color: lightblue;*/
  border-bottom: 2px dotted purple;
  color: cyan;
  text-shadow: magenta 0 2px 3px;
  padding: 5px 0;
}

th {
  text-align: left;
}

td {
  padding-right: 20px;
}

hr {
  border:1px solid magenta;
  display: none;
}
